src/pug/pages/index.pug
extends ../config/template
append config
    - NombPagina = "Inicio"
prepend styles
block contenido

    // B A N N E R
    .banner#contact
        .banner__container.container
            .banner__header
                h2 Lorem es un texto
                form.wow.fadeInUp
                    .form__input
                        input(type='text', name='nombre', placeholder='Nombre y Apellido')
                        span.fas.fa-user
                    .form__input
                        input(type='email', name='correo', placeholder='Correo')
                        span.fas.fa-envelope
                    .form__input
                        input(type='text', name='celular', placeholder='Celular')
                        span.fas.fa-mobile-alt
                    select
                        option Elije tu plan
                        option 1
                        option 2
                    a(href='#')  Contáctanos 
    main
        // A B O U T
        .about#about
            .about__container.container
                .about__img.wow.fadeInUp
                .about__main
                    .about__main--info
                        h2.secondary-title Encuentra tu espacio y cierra tus proyectos.
                        .about__main--franja
                            p.description Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".
                            .about__main--button
                                a(href='#characteristics').hover-btn Conócenos más
        // S E R V I C E S
        .services#characteristics
            .services__header.container
                h2.secondary-title Somos buenos en..
            .services__container.container
                +services-item(
                    'public/img/services/service-1.png',
                    'Ubicación Céntrica',
                    'Ubicación Céntrica'
                )
                +services-item(
                    'public/img/services/service-2.png',
                    'Múltiples Ambientes',
                    'Múltiples Ambientes'
                )
                +services-item(
                    'public/img/services/service-3.png',
                    'Excelentes Precios',
                    'Excelentes Precios'
                )
                +services-item(
                    'public/img/services/service-4.png',
                    'Horarios Flexibles',
                    'Horarios Flexbiles'
                )
        // P R I C E S
        .prices#planes
            .prices__container.container
                .prices__header
                    h2.secondary-title Contamos con los mejores planes.
                .prices__container--item.wow.fadeInUp
                    p.prices__title Plan 1
                    p.prices__cost desde
                        span $87
                    .prices__button
                        a(href="#contact") Adquirir ahora
                    ul#accordion.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Ipsum dolor met
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Consectetur dolor
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check
                
                .prices__container--item.wow.fadeInUp.delay-1
                    p.prices__title Plan 2
                    p.prices__cost desde
                        span $153
                    .prices__button
                        a(href="#contact") Adquirir ahora
                    ul#accordion1.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Consectetur dolor
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check

                .prices__container--item.wow.fadeInUp.delay-2
                    p.prices__title Plan 3
                    p.prices__cost desde
                        span $170
                    .prices__button
                        a(href="#contact") Adquirir ahora
                    ul#accordion2.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li
                                    i.check.fas.fa-check
                                    | Consectetur dolor
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check

                .prices__container--item.wow.fadeInUp.delay-3
                    p.prices__title Plan 4
                    p.prices__cost desde
                        span $170
                    .prices__button
                        a(href="#contact") Adquirir ahora
                    ul#accordion3.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li
                                    i.check.fas.fa-check
                                    | Consectetur dolor
                                li
                                    i.check.fas.fa-check
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check

                .prices__container--item.wow.fadeInUp.delay-4
                    p.prices__title Plan 5
                    p.prices__cost desde
                        span $170
                    .prices__button
                        a(href="#contact") Adquirir ahora
                    ul#accordion4.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li
                                    i.check.fas.fa-check
                                    | Consectetur dolor
                                li
                                    i.check.fas.fa-check
                                    | Dolor conectur is
                                li
                                    i.check.fas.fa-check
                                    | Amet is check

prepend script-final

index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title> Smart Office Perú </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robotos" content="index,follow">
    <meta property="fb:app_id" content="">
    <meta name="description" content="">
    <link rel="icon" href="public/img/icon.png" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="public/css/styles.css?update2">
  </head>
  <body>
    <header>
      <div class="header__contenedor container">
        <h1 class="header__contenedor--logotipo"><a href="index.html">Logo</a></h1>
        <div class="header__contenedor--icono" id="icon">
          <div class="icon-element"></div>
          <div class="icon-element"></div>
          <div class="icon-element"></div>
        </div>
        <nav id="nav">
          <ul class="nav__lista">
            <li class="nav__lista--item"><a class="item__link" href="#about">Nosotros</a></li>
            <li class="nav__lista--item"><a class="item__link" href="#characteristics">Características</a></li>
            <li class="nav__lista--item"><a class="item__link" href="#planes">Planes</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- B A N N E R-->
    <div class="banner" id="contact">
      <div class="banner__container container">
        <div class="banner__header">
          <h2>Lorem es un texto</h2>
          <form class="wow fadeInUp">
            <div class="form__input">
              <input type="text" name="nombre" placeholder="Nombre y Apellido"><span class="fas fa-user"></span>
            </div>
            <div class="form__input">
              <input type="email" name="correo" placeholder="Correo"><span class="fas fa-envelope"></span>
            </div>
            <div class="form__input">
              <input type="text" name="celular" placeholder="Celular"><span class="fas fa-mobile-alt"></span>
            </div>
            <select>
              <option>Elije tu plan</option>
              <option>1</option>
              <option>2</option>
            </select><a href="#"> Contáctanos </a>
          </form>
        </div>
      </div>
    </div>
    <main>
      <!-- A B O U T-->
      <div class="about" id="about">
        <div class="about__container container">
          <div class="about__img wow fadeInUp"></div>
          <div class="about__main">
            <div class="about__main--info">
              <h2 class="secondary-title">Encuentra tu espacio y cierra tus proyectos.</h2>
              <div class="about__main--franja">
                <p class="description">Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".</p>
                <div class="about__main--button"><a class="hover-btn" href="#characteristics">Conócenos más</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- S E R V I C E S-->
      <div class="services" id="characteristics">
        <div class="services__header container">
          <h2 class="secondary-title">Somos buenos en..</h2>
        </div>
        <div class="services__container container">
          <div class="service-item"><img src="public/img/services/service-1.png" alt="Ubicación Céntrica"/>
            <p>Ubicación Céntrica</p>
          </div>
          <div class="service-item"><img src="public/img/services/service-2.png" alt="Múltiples Ambientes"/>
            <p>Múltiples Ambientes</p>
          </div>
          <div class="service-item"><img src="public/img/services/service-3.png" alt="Excelentes Precios"/>
            <p>Excelentes Precios</p>
          </div>
          <div class="service-item"><img src="public/img/services/service-4.png" alt="Horarios Flexibles"/>
            <p>Horarios Flexbiles</p>
          </div>
        </div>
      </div>
      <!-- P R I C E S-->
      <div class="prices" id="planes">
        <div class="prices__container container">
          <div class="prices__header">
            <h2 class="secondary-title">Contamos con los mejores planes.</h2>
          </div>
          <div class="prices__container--item wow fadeInUp">
            <p class="prices__title">Plan 1</p>
            <p class="prices__cost">desde<span>$87</span></p>
            <div class="prices__button"><a href="#contact">Adquirir ahora</a></div>
            <ul class="accordion" id="accordion">
              <li class="default open">
                <div class="link">Características<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                  <li><i class="check fas fa-check"></i>Domicilio cercano</li>
                  <li><i class="check fas fa-check"></i>Dolor sit amet</li>
                  <li><i class="check fas fa-check"></i>Sit quale alter</li>
                  <li><i class="check fas fa-check"></i>Met sit spn</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Ipsum dolor met</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Consectetur dolor</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Dolor conectur is</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Amet is check</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="prices__container--item wow fadeInUp delay-1">
            <p class="prices__title">Plan 2</p>
            <p class="prices__cost">desde<span>$153</span></p>
            <div class="prices__button"><a href="#contact">Adquirir ahora</a></div>
            <ul class="accordion" id="accordion1">
              <li class="default open">
                <div class="link">Características<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                  <li><i class="check fas fa-check"></i>Domicilio cercano</li>
                  <li><i class="check fas fa-check"></i>Dolor sit amet</li>
                  <li><i class="check fas fa-check"></i>Sit quale alter</li>
                  <li><i class="check fas fa-check"></i>Met sit spn</li>
                  <li><i class="check fas fa-check"></i>Ipsum dolor met</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Consectetur dolor</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Dolor conectur is</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Amet is check</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="prices__container--item wow fadeInUp delay-2">
            <p class="prices__title">Plan 3</p>
            <p class="prices__cost">desde<span>$170</span></p>
            <div class="prices__button"><a href="#contact">Adquirir ahora</a></div>
            <ul class="accordion" id="accordion2">
              <li class="default open">
                <div class="link">Características<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                  <li><i class="check fas fa-check"></i>Domicilio cercano</li>
                  <li><i class="check fas fa-check"></i>Dolor sit amet</li>
                  <li><i class="check fas fa-check"></i>Sit quale alter</li>
                  <li><i class="check fas fa-check"></i>Met sit spn</li>
                  <li><i class="check fas fa-check"></i>Ipsum dolor met</li>
                  <li><i class="check fas fa-check"></i>Consectetur dolor</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Dolor conectur is</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Amet is check</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="prices__container--item wow fadeInUp delay-3">
            <p class="prices__title">Plan 4</p>
            <p class="prices__cost">desde<span>$170</span></p>
            <div class="prices__button"><a href="#contact">Adquirir ahora</a></div>
            <ul class="accordion" id="accordion3">
              <li class="default open">
                <div class="link">Características<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                  <li><i class="check fas fa-check"></i>Domicilio cercano</li>
                  <li><i class="check fas fa-check"></i>Dolor sit amet</li>
                  <li><i class="check fas fa-check"></i>Sit quale alter</li>
                  <li><i class="check fas fa-check"></i>Met sit spn</li>
                  <li><i class="check fas fa-check"></i>Ipsum dolor met</li>
                  <li><i class="check fas fa-check"></i>Consectetur dolor</li>
                  <li><i class="check fas fa-check"></i>Dolor conectur is</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Amet is check</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="prices__container--item wow fadeInUp delay-4">
            <p class="prices__title">Plan 5</p>
            <p class="prices__cost">desde<span>$170</span></p>
            <div class="prices__button"><a href="#contact">Adquirir ahora</a></div>
            <ul class="accordion" id="accordion4">
              <li class="default open">
                <div class="link">Características<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                  <li><i class="check fas fa-check"></i>Domicilio cercano</li>
                  <li><i class="check fas fa-check"></i>Dolor sit amet</li>
                  <li><i class="check fas fa-check"></i>Sit quale alter</li>
                  <li><i class="check fas fa-check"></i>Met sit spn</li>
                  <li><i class="check fas fa-check"></i>Ipsum dolor met</li>
                  <li><i class="check fas fa-check"></i>Consectetur dolor</li>
                  <li><i class="check fas fa-check"></i>Dolor conectur is</li>
                  <li><i class="check fas fa-check"></i>Amet is check</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <!--include ../includes/clientes-->
    <footer>
      <div class="footer__contenedor container">
        <div class="footer__contenedor--informacion"><a class="logotipo" href="#inicio"><img src="public/img/logotipo.svg" alt="Logotipo"></a>
          <ul class="informacion__lista">
            <li class="informacion__lista--item"><a href="#contact">Contáctanos</a></li>
            <li class="informacion__lista--item"><a href="#about">Nosotros</a></li>
            <li class="informacion__lista--item"><a href="#characteristics">Caracterísiticas</a></li>
            <li class="informacion__lista--item"><a href="#planes">Planes</a></li>
          </ul>
        </div>
        <div class="footer__contenedor--informacion">
          <p class="informacion__copy description">Copyright © Todos los Derechos Reservados</p>
          <p class="informacion__desarrollo description">Desarrollado por:<a href="https://chilcanoweb.com/" target="_blank" rel="noopener noreferrer">Chilcanoweb</a></p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="public/js/main-min.js"></script>
  </body>
</html>
